.parent h1{
    color: purple;
 }
/*
 div h1{
    color: black;
 }
    */
h1{
    color: orange;
    margin-left:10px;
}
h2{
    margin-left:10px;
}
#red{
    color: black;

}

.blue{
    color: green;
}

 h1:hover{  
    color: orange;
   
 }

button{
    background-color: yellow;
    transition: all 1s;
    border: none;
    padding: 10px 35px;
    border-radius:25px;
    margin-left: 10px;
    font-size: large; 
}
button:hover{
    background-color: pink;
    color:white;
    transform:scale(1.3);
}

.card{
    width: 300px;
    border:5px solid green;
    margin-left:400px;
    
    background-color:burlywood;
}
.card img{
  width:300px;
}

.content{
    padding:30px;

}
.content h1{
    margin:0;
    color:black;
    
}
.content button {
    background-color: rgb(255, 0, 93);
    color:black;
    align-items:center;
}
.parent{
    background-color:red;
    padding: 15px;
    display: flex;
    margin-top:20px;
    width:100%;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
}
.child{
    padding:30px;
    background-color:lightblue;
    border:2px solid black;
    margin:5px;
    
}
.child-long{
    background-color:lightblue;
    border:2px solid black;
    padding:30px;
    height:100px;
}

.main{
    background-color:slategray;
    display:flex;
    color:black;
    justify-content:space-around;
    align-items:center;
    padding:10px;
}

.logo img {
    width:100px;   
    height:100px;
    border-left:50%;
    border-radius:50%;
    gap:10px;
}

.main-content{
    display:flex;
    font-size:large;
    gap:25px;
    padding:5px 5px;

}
.login{
    display:flex;
    gap:10px;
    margin-right:15px;
    align-items:center;
    margin-left:5px;
}
.login button{
    font-size:large;
    font-weight:bold;
    
}
@keyframes bounce{
    0%{    
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1000px);
  
    }
    100%{
        transform: translateY(0);
    }   
}
@keyframes heartbeat{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
/* .sam img{
   animation:heartbeat 5s infinite;
   align-items: center;
   margin-left: 400px;
   margin-top: 20px;
   border-radius: 50%;

} */
@media (max-width:768px){
   .card{
    width:100%;
   }
   .main{
    display:none;
   }
}
